<div class="row">
    <div class="input-field col s12">
        <input placeholder=" Name" name="name" type="text" value='{{authors.name}}' class="validate">
        <label for="name">Name</label>
    </div>
</div>