<div class="navbar-fixed">
    <nav class=" black">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><i class="material-icons">library_books</i>MyLbrary</a>
            <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/authors">Authors</a></li>
                <li><a href="/authors/new">New Authors</a></li>
                <li><a href="/books">Books</a></li>
                <li><a href="/books/new">New Book</a></li>
            </ul>
        </div>
    </nav>
</div>


<ul class="sidenav" id="mobile-demo">
    <li><a href="/authors">Authors</a></li>
    <li><a href="/authors/new">New Authors</a></li>
    <li><a href="/books">Books</a></li>
    <li><a href="/books/new">New Book</a></li>
</ul>