<div class="row">
    <div class="col s10 m8 l6 offset-l1 offset-m1">
        <h2>Edit Author</h2>
        <form action='/authors/{{authors.id}}?_method=PUT' method="POST">
            {{> forminput}}
            <a href="/authors/{{authors.id}}" class="waves-effect waves-light btn black"><i
                    class="material-icons left">cancel</i>Cancel</a>
            <button class="btn waves-effect waves-light black" type="submit" name="action">Update
                <i class="material-icons left">update</i>
            </button>

        </form>
    </div>
</div>